# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

build/

#
*.bak

# vim
*~
*.swp
plugin/AusExOutputPlugin/examples/AusExDHT_HttpClient/新しいテキスト ドキュメント.txt
plugin/AusExOutputPlugin/examples/AusExDHT_HttpServer/新しいテキスト ドキュメント.txt
plugin/AusExOutputPlugin/examples/AusExDHT_MqttClient/新しいテキスト ドキュメント.txt
plugin/AusExOutputPlugin/examples/AusExDHT_terminal/新しいテキスト ドキュメント.txt
plugin/AusExOutputPlugin/src/新しいテキスト ドキュメント.txt
plugin/AusExOutputPlugin/新しいテキスト ドキュメント.txt
src/新規 Microsoft Excel ワークシート.xlsx
新しいテキスト ドキュメント.txt
plugin/AusExOutputPlugin/examples/AusExDHT_HttpClient/test.json
